.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/Animal.hpp
!ex00/Animal.cpp
!ex00/Dog.hpp
!ex00/Dog.cpp
!ex00/Cat.hpp
!ex00/Cat.cpp
!ex00/WrongAnimal.hpp
!ex00/WrongAnimal.cpp
!ex00/WrongDog.hpp
!ex00/WrongDog.cpp
!ex00/WrongCat.hpp
!ex00/WrongCat.cpp
